<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Listener Example">
    <listeners>
        <listener class-name="Listener" />
        <listener class-name="AnnotationTransformer"/>
    </listeners>

    <test name="TestNG Sample Test" preserve-order="true">
        <classes>
            <class name="SampleTest">
            </class>
        </classes>
    </test>
</suite>