<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Listener Example">
    <listeners>
        <listener class-name="Listener" />
    </listeners>

    <test name="TestNG Sample Test" preserve-order="true">
        <classes>
            <class name="SampleTest">
<!--                <methods>
                    <include name="test1"/>
                </methods>-->
            </class>
        </classes>
    </test>

</suite>